.label {
  margin-bottom: 10px;
}

.searchWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  border: 2px solid #75f0bb;
}

.filterInput {
  margin: 10px 0;
  padding: 10px 15px;
  border: 2px solid #6e59d9;
  border-radius: 5px;
}

.filterInput:focus {
  outline: 1px solid #6e59d9;
}